.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 1.5em;
}

.count {
  font-size: 2em;
}

.textLight {
  color: black;
}

.textDark {
  color: white;
}
