.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-height: 700px;
  height: 80%;
  max-width: 550px;
  width: 80%;
  overflow-x: hidden;
  overflow-y: overlay;
  border-radius: 8px;
}

.darkModal {
  background-color: rgb(36, 36, 36);
  color: rgb(235, 235, 235);
}

.lightModal {
  background-color: rgb(242, 242, 242);
  color: black;
}

.closeModalBtn {
  padding: 12px 8px;
  border-radius: 24px;
  width: 30%;
  border: 1px solid black;
  cursor: pointer;
  color: white;
}

.closeModalBtnLight {
  background-color: orangered;
}

.closeModalBtnLight:hover {
  background-color: red;
}

.closeModalBtnDark {
  background-color: red;
}

.closeModalBtnDark:hover {
  background-color: orangered;
}

.content {
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  height: 100%;
}

.text {
  margin: 0;
}

.centerText {
  text-align: center;
}

.modalHeading {
  margin: 0;
  margin-bottom: 25px;
}

.scoresModalHeading {
  margin: 0;
  margin-bottom: 5px;
}

.sectionHeading {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 2px;
  font-weight: 700;
}

.point {
  margin: 0;
  text-align: center;
}

.settingOption {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.settingTextInput {
  outline: none;
  padding: 6px;
  border: 1px solid black;
}

.settingTextInputDark {
  background-color: rgb(28, 28, 28);
  color: rgb(235, 235, 235);
  border: 1px solid white;
}

.countdownBtn {
  width: 30px;
  height: 30px;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
}

.incrementBtnLight {
  background-color: lightgreen;
}

.incrementBtnLight:hover {
  background-color: rgb(95, 235, 95);
}

.incrementBtnDark {
  background-color: rgb(95, 235, 95);
}

.incrementBtnDark:hover {
  background-color: lightgreen;
}

.decrementBtnLight {
  background-color: lightcoral;
}

.decrementBtnLight:hover {
  background-color: rgb(235, 93, 93);
}

.decrementBtnDark {
  background-color: rgb(235, 93, 93);
}

.decrementBtnDark:hover {
  background-color: lightcoral;
}

.scoresSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 8px;
  border-radius: 14px;
  cursor: pointer;
  min-width: 90px;
}

.btnLight {
  border: 1px solid rgb(134, 134, 228);
  background-color: rgb(188, 216, 248);
}

.btnLight:hover {
  border: 1px solid rgb(108, 108, 241);
  background-color: rgb(130, 185, 248);
}

.btnDark {
  color: white;
  border: 1px solid rgb(120, 117, 128);
  background-color: rgb(70, 99, 128);
}

.btnDark:hover {
  border: 1px solid rgb(146, 140, 161);
  background-color: rgb(81, 131, 180);
}

.selectedBtnLight {
  color: white;
  border: 1px solid rgb(33, 33, 133);
  background-color: rgb(34, 84, 206);
}

.selectedBtnLight:hover {
  border: 1px solid rgb(43, 63, 183);
  background-color: rgb(34, 54, 186);
}

.selectedBtnDark {
  color: white;
  border: 1px solid rgb(18, 18, 146);
  background-color: rgb(35, 152, 230);
}

.selectedBtnDark:hover {
  border: 1px solid rgb(43, 63, 183);
  background-color: rgb(74, 171, 235);
}
