.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  align-items: center;
  border-radius: 8px;
  max-height: 220px;
  height: 18%;
  width: 80%;
}

.questionLight {
  border: 3px solid black;
  background-color: #f8f8f8;
  color: black;
}

.questionDark {
  border: 3px solid white;
  background-color: rgb(24, 24, 24);
  color: white;
}

.currentQuestionLight {
  border: 3px solid rgb(47, 108, 238);
  background-color: #d7d7d7;
}

.currentQuestionDark {
  border: 3px solid rgb(47, 108, 238);
  background-color: rgb(3, 3, 3);
}

.question {
  font-weight: 700;
}

.answerInput {
  width: 80%;
  padding: 6px;
  border-radius: 4px;
}

.answerInput::-webkit-outer-spin-button,
.answerInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.answerInput[type="number"] {
  -moz-appearance: textfield;
}

.answerInputLight {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.answerInputDark {
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  border: 1px solid white;
}

@media only screen and (max-height: 700px) {
  .container {
    gap: 15px;
  }
}

@media only screen and (max-height: 550px) {
  .container {
    padding: 4px;
    gap: 5px;
    height: 12%;
    width: 28%;
  }

  .answerInput {
    padding: 2px;
  }
}
